#reverse gitignore
/**/*
!/**/

!/libraries
!/packages

#git
!/**/*.gitignore

#config
!/**/*.md
!/**/*.json

#js/ts
!/**/*.js
!/**/*.jsx
!/**/*.cjs

!/**/*.ts
!/**/*.tsx
!/**/*.cts

#npm
/**/dist
/**/build
/**/lib
/**/node_modules
/**/www

.env

#share config but not nginx config
!/proxy
!/proxy/**/*.*
/proxy/nginx/**/*.*