#reverse gitignore
/**/*
!/**/

!/libraries
!/packages
!/proxy

#git
!/**/*.gitignore

#config
!/**/*.md
!/**/*.json

#js/ts
!/**/*.js
!/**/*.jsx
!/**/*.cjs

!/**/*.ts
!/**/*.tsx
!/**/*.cts

#npm
/**/dist
/**/build
/**/lib
/**/node_modules
/**/www

.env