#reverse gitignore
/**/*
!/**/
!/libraries

#git
!/**/*.gitignore

#config
!/**/*.md
!/**/*.json

#js/ts
!/**/*.js
!/**/*.jsx
!/**/*.cjs

!/**/*.ts
!/**/*.tsx
!/**/*.cts

#npm
/**/dist
/**/build
/**/lib
/**/node_modules